################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/vs.2022/.vs/test-xcalculator
/build/vs.2022/x64/Debug
/build/vs.2022/Debug
/build/vs.2022/Release
/build/vs.2022/test-xcalculator/Debug
/build/vs.2022/test-xcalculator/Release
/build/vs.2022/test-xcalculator/x64
/build/vs.2022/x64/Release
